    @import url('https://fonts.cdnfonts.com/css/times-new-roman');

                
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', sans-serif;                                             
}
a{
    text-decoration: none;  
    color: black;
}
.barra_navegacao{
    background-color: #748756;
    padding: 0%;
    gap: 0%;
}
.ancorasSuperior{
    display: flex;
    justify-content: space-around ;
    margin-top: 20px;
    background-color: #748756;
    padding: 10px;
}
.ancorasInferiores{
    display: flex;
    justify-content: space-around ;
    margin-top: 10px;
    background-color: #748756;
    padding: 10px;
}
.p{
    background-color: #748756;
}
#titulo_principal{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
}
.Introdução{
    background-image: url(https://digital.unesc.net/hs-fs/hubfs/EcononomiaVerde_unesc.jpg?width=706&height=396&name=EcononomiaVerde_unesc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #94ab6f;
}