    @import url('https://fonts.cdnfonts.com/css/times-new-roman');

                
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', sans-serif;                                             
}
a{
    text-decoration: none;  
    color: black;
}
.barra_navegacao{
    background-color: #748756;
}
.divnav{
    display: flex;
    justify-content: space-around ;
    margin-top: 20px;
    background-color: #748756;
    padding: 10px;
}
.divnav2{
    display: flex;
    justify-content: space-around ;
    margin-top: 20px;
    background-color: #748756;
    padding: 10px;
}
.p{
    background-color: #748756;
}
